body {
    text-align: center;
    background-color: #a8dcf3;
}


.note-container{
    display: flex;
}

.note-display {
    margin: 5% auto auto 19%;

}
.note-display-name{
    margin: 10px 40px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    border-style: solid;
}

.note-display-text{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    border-style: solid ;
    margin-bottom: 10px;
}

.flat-note-div {
    margin-left: auto;
    margin-right: auto;
    background-color: #f39da3;
    padding: 10px;
    border-radius: 20px;
    width: 35em;
    border-style: groove;
    border-color: #f39da3;
}

.login{
    margin-top: 100px;
}

.login-form-stuff{
    padding-top: 10px;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.ui.button {
    border-style: groove;
}

h1{
    color: #2e435d; 
}

.title{
    font-size: 24px;
}



/* 
#2e435d	(46,67,93)
#9f7287	(159,114,135)
#f39da3	(243,157,163)
#76b8c0	(118,184,192)
#a8dcf3	(168,220,243) 
*/