body {
    text-align: center;
    background-color: #a8dcf3;
}
.login-form {
    display: inline-block;
    margin: auto;
    width: 50%;
    background-color: #f39da3;
    padding: 10px;
    margin-top: 100px;
    border-radius: 20px;
    width: 500px;
}

h1{
    color: #2e435d; 
}

.title{
    font-size: 24px;
}



/* 
#2e435d	(46,67,93)
#9f7287	(159,114,135)
#f39da3	(243,157,163)
#76b8c0	(118,184,192)
#a8dcf3	(168,220,243) 
*/